<div class="p-3 mb-5 bg-success text-white"><h1>Administración de Edificios</h1></div>

<table class="table mb-5 table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Ciudad</th>
        </tr>
    </thead>
    <tbody>
        <% @buildings.each do |building| %>
            <tr>
                <td> <%= building.id %></td>
                <td> <%= building.name %></td>
                <td> <%= building.address %></td>
                <td> <%= building.city %></td>
                <td> <a href="/building/<%=building.id %>"> Detalle </a></td>
            </tr>
        <% end %>

    </tbody>
          
</table>

<a class="btn btn-primary mb-3" href="/building/new"> Crear Edificio </a> <br> 
<a class="btn btn-primary mb-5" href="/apartment/index"> Lista de Departamentos </a>
